.main__aside-tags {
    width: 267px;
    height: 309px;
    margin-bottom: 60px;

    .main__tags-header {
        width: 267px;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 26px;
    }

    .tags-block {
        display: flex;
        flex-wrap: wrap;
        height: 277px;
        width: 269px;

        .main__tags-text--Business {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 84px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Freelance {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 91px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Money {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 72px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Experience {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 100px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Lifestyle {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 82px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--SEO  {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 58px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Wordpress {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 98px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Marketing {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 93px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--UX {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 49px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Modern {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 79px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Success {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 79px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Nature {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 72px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Productivity {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 104px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Sales-page {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 97px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Sell {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 53px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Teamwork {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 95px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .main__tags-text--Monetize {
            background-color: #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            height: 30px;
            width: 88px;
            margin: 0 7px 10px 0;
            font-size: 14px;
            cursor: pointer;
        }

        .tags-text:hover,
        .tags-text:active {
            text-decoration: underline;
        }
    }
}