.footer {
    width: 100%;
    font-size: 14px;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'PtSans';
}

.footer__upper-section {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 523px;
    grid-template-areas: "footer__section-1 footer__section-2 footer__section-3";
    grid-gap: 29px;
    justify-content: center;
    background-color: #171717;
    padding: 0;
    margin: 0;

    @media (max-width: 1280px) {
        grid-template-columns: 270px 293px;
        grid-template-rows: 474px 246px;
        grid-template-areas: "footer__section-1 footer__section-2"
                            "footer__section-3 footer__section-3";
        grid-gap: 48px 28px;
        height: 795px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 293px;
        grid-template-rows: 300px 293px 293px;
        grid-template-areas: "footer__section-1"
                             "footer__section-2"
                             "footer__section-3";
        grid-gap: 48px;
        height: 1063px;
    }

    .footer__section-1 {
        grid-area: footer__section-1;
        margin-top: 62px;

        @media (max-width: 768px) {
            margin-top: 50px;
        }
        
        .footer__logo {
            display: flex;

            .footer__logo-text {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .footer__logo-text--border-blue {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 39px;
                height: 23px;
                background-color: #4A90E2;
                border-radius: 3px;
                margin-left: 7px;
            }
        }
        .footer__text {
            line-height: 22px;
            width: 270px;
            height: 66px;
            margin-top: 30px;
            margin-bottom: 48px;
            color: #CECECE;
        }

        .footer__section-1--header {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 23px;
        }

        .footer__social-network {
            display: flex;
            height: 34px;
            width: 230px;

            .footer__img-social-network {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                height: 34px;
                width: 34px;
                background-color: #343434;
                border: none;
                flex-wrap: nowrap;
                cursor: pointer;

                .footer__img-social-network--plus {
                    margin-left: 2px;
                }
            }

            .footer__img-social-network:hover {
                background-color: #777777;
            }

            .footer__img-social-network:active {
                background-color: #FFFFFF;
            }

            .footer__img-social-network:active
            .footer_img {
                filter: invert(1);
            }
        }
    } 
    
    .footer__section-2 {
        grid-area: footer__section-2;

        .footer__section-2--header {
            margin-top: 62px;
            margin-bottom: 28px;
            font-size: 20px;

            @media (max-width: 768px) {
                margin-top: 0;
            }
        }

        .footer__section-2-img {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 360px;

            .footer__section-2--img-1,
            .footer__section-2--img-2,
            .footer__section-2--img-3 {
                position: relative;
                border-radius: 3px;
                height: 95px;
    
                .footer__photo-description {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

                .footer__photo-description:hover
                .footer__text--bold {
                    text-decoration: underline;
                }

                .footer__text--bold {
                    position: absolute;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 26px;
                    left: 115px;
                    top: 6px;
                    width: 178px;
                    height: 49px;
                    margin: 0;
                }
    
                .footer__text--italic {
                    position: absolute;
                    font-style: italic;
                    color: #CECECE;
                    left: 115px;
                    top: 68px;
                    margin: 0;
                }
            }
        }
    }
    
    .footer__section-3 {
        grid-area: footer__section-3;
        margin-left: 4px;
        
        .footer__section-3--header {
            color: white;
            font-size: 20px;
            margin-bottom: 38px;
            margin-top: 62px;

            @media (max-width: 1280px) {
                margin-top: 0;
            }

            @media (max-width: 768px) {
                margin-top: 48px;
            }
        }

        .footer__input {
            height: 50px;
            width: 270px;
            background-color: #373737;
            border-radius: 3px;
            color: #AEB3BB;
            padding-left: 15px;
            margin-bottom: 10px;
            border: none;
            cursor: pointer;

            @media (max-width: 1280px) {
                width: 585px;
            }

            @media (max-width: 768px) {
                width: 293px;
        }
        }

        .footer__input:hover {
            background-color: #6C6C6C;
        }

        .footer__input:focus {
            background-color: #5A5A5A;
            color: #FFFFFF;
        }

        .footer__button {
            height: 50px;
            width: 270px;
            background-color: #232323;
            border-radius: 3px;
            font-weight: bold;
            color: white;
            border: none;
            cursor: pointer;

            @media (max-width: 1280px) {
                width: 585px;
            }

            @media (max-width: 768px) {
                width: 293px;
        }
        }

        .footer__button:hover {
            background-color: #5C5C5C;
        }

        .footer__button:focus {
            background: #232323;
            border: 2px dashed rgba(255, 255, 255, 0.5);
        }

        .footer__button:active {
            background-color: #0E0E0E;
            border: none;
        }
    }
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 94px;
    grid-template-areas: "footer__copyright . footer__list-menu";                    
    grid-gap: 30px;
    list-style-type: none;
    height: 94px;
    background-color: #000000;
    justify-content: center;
    align-items: center;

    @media (max-width: 1280px) {
        grid-template-columns: 270px 293px;
        grid-template-columns: 270px 309px;
        grid-template-rows: 94px;
        grid-template-areas: "footer__copyright footer__list-menu";
    }

    @media (max-width: 768px) {
        grid-template-columns: 309px;
            grid-template-rows: repeat(2, 18px);
            grid-template-areas: "footer__list-menu"
                                 "footer__copyright";
            padding-top: 24px;
            grid-gap: 24px;
            height: 108px;
    }

    .footer__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: footer__copyright;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;

        @media (max-width: 1280px) {
            grid-template-columns: 270px 293px;
            grid-template-columns: 270px 309px;
            grid-template-rows: 94px;
            grid-template-areas: "footer__copyright footer__list-menu";
        }
    
        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    .footer__list-menu {
        grid-area: footer__list-menu;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 0;
        width: 370px;

        @media (max-width: 1280px) {
            width: 309px;
            margin: 0;
        }

        @media (max-width: 768px) {
            justify-content: space-between;
        }

        .footer__link:hover {
            border-bottom: 2px solid #FFFFFF;
        }

        .footer__link:focus  {
            color: #000000;
            background-color:rgba(255, 255, 255, 0.8);
        }

        .footer__menu-item:active .footer__link {
            border-bottom: 2px solid #FFFFFF;
            font-weight: bold;
            color: #FFFFFF;
            background-color:#000000;
        }

        .footer__link {
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;
        }
    }
}